body {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    max-width: 100%;
}


.c-white {
    color: white;
    text-decoration: none;
}

.my-h5 {
    height: 7rem;
}

main {
    max-height: calc(100vh - 70px);
    
}

.avatar {
    width: 20px;
    display: inline-block;
}
.logo-small {
    display: none;
    width: 50px;
}

.h-90 {
    height: calc(95% - 70px);
}

.h-10 {
    height: 5%;
}

.fa-bell {
    color: goldenrod;
}

.my-color-badge {
    background-color: blue;
}


.my-hover-btn:hover {
    background-color: lightgrey;
}

.my-ps-bg {
    background-image: url(../img/sidebar-bg.png);
}

.pers-badge {
    display: none;
}
@media screen and (max-width:769px) {

    main {
        height: calc(100vh - 82px);
    }

    .hidden {
        display: none;
    }

    .pers-badge {
        display: inline-block;
    }

    .logo-small {
        display: block;
    }
}

@media screen and (max-width:575px) {
    .my-order-1 {
        order: 1;
    }

    .my-order-2 {
        order: 2;
    }

    .my-order-3 {
        order: 3;
    }
}