body {
    padding: 0;
    margin: 0;
    max-height: 100vh;
}


.c-white {
    color: white;
    text-decoration: none;
}

.my-h5 {
    height: 7rem;
}

main {
    height: calc(100vh - 70px);
    
}


.logo-small {
    display: none;
    width: 50px;
}

.h-90 {
    height: 90%;
}

.h-10 {
    height: 10%;
}

.fa-bell {
    color: goldenrod;
}

.my-hover-btn:hover {
    background-color: lightgrey;
}

.my-ps-bg {
    background-image: url(../img/sidebar-bg.png);
}

@media screen and (max-width:769px) {

    .hidden {
        display: none;
    }

    
    .logo-small {
        display: block;
    }
}