body {
    max-height: 100vh;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

header {
    height: 5rem;
    
}

.c-white {
    color: white;
    text-decoration: none;
}

.my-h5 {
    height: 7rem;
}

main {
    height: calc(100vh - 5rem);
    
}

.my-h-calc {
    height: calc(100vh - 5rem);
}

.logo-small {
    display: none;
    width: 100%;
}

.h-90 {
    height: calc(90vh - 5rem);
}

.h-10 {
    height: calc(10vh - 5rem);
}

.fa-bell {
    color: goldenrod;
}

.my-hover-btn:hover {
    background-color: lightgrey;
}

.my-ps-bg {
    background-image: url(../img/sidebar-bg.png);
}
@media screen and (max-width:880px) {
    
    header {
        margin: 0 auto;
    }
    
    .hidden {
        display: none;
    }

    

    .logo-small {
        display: block;
        width:100%
    }
}